@import '../../../../Routing.module.scss';

.SignNav {
    cursor: pointer;
    width: 80%;
    margin: 0 auto;

    ul {
        list-style-type: none;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        -webkit-padding-start: 0px;
    }

    li {
        width: 100%;
    }

    p {
        font-size: 25px;
        letter-spacing: 2px;
        color: #3c3c3c
    }

}


.SignInNavLinkActive {
    // -webkit-box-shadow: 5px -4px 8px -4px rgba(0, 0, 0, 0.2);
    // -moz-box-shadow: 5px -4px 8px -4px rgba(0, 0, 0, 0.2);
    // box-shadow: 5px -4px 8px -4px rgba(0, 0, 0, 0.2);
    // border-bottom: none !important;
    // border-radius: 0px;
    background-color: #ffcd00;
    border-radius: 0px;
    border-bottom: none;
}

.SignUpNavLinkActive {
    // -webkit-box-shadow: -5px -4px 8px -4px rgba(0, 0, 0, 0.2);
    // -moz-box-shadow: -5px -4px 8px -4px rgba(0, 0, 0, 0.2);
    // box-shadow: -5px -4px 8px -4px rgba(0, 0, 0, 0.2);
    // border-bottom: none !important;
    // border-radius: 0px
    background-color: #ffcd00;
    border-radius: 0px;
    border-bottom: none;
}

.SignNavLink {
    // color: rgb(162, 162, 162);
    // -webkit-box-shadow: inset 0px -15px 9px -10px rgba(0, 0, 0, 0.05);
    // -moz-box-shadow: inset 0px -15px 9px -10px rgba(0, 0, 0, 0.05);
    // box-shadow: inset 0px -15px 9px -10px rgba(0, 0, 0, 0.05);
    border-bottom: 2px solid rgba(135, 135, 135, 0.2);

}