@import '../../../../../../Routing.module.scss';


.Day {
    border-bottom: 1px solid rgba(135, 135, 135, 0.200);
    width: 80%;
    margin: 0 auto 10px auto;
    display: flex;
    flex-direction: row;
    padding: 0px 20px 0px 20px;

    a {
        text-decoration: none;
        width: 100%;
        color: inherit;
    }


}

.DayNotCreated {
    border-bottom: 1px solid rgba(135, 135, 135, 0.200);
    width: 80%;
    margin: 0 auto 10px auto;
    display: flex;
    flex-direction: row;
    padding: 0px 20px 0px 20px;
    background-color: rgba(0, 0, 0, 0.010);
    color: rgba(0, 0, 0, 0.3);

    a {
        text-decoration: none !important;
        width: 100%;
        color: inherit;
        z-index: -10;
    }
}

.dayNotVisible {
    display: none !important;
}

.DayInfo {
    @include YearDayMonth-info;
}

.DayInfoBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.DayInfoBodyNotVisible {
    display: none !important;
}

.DayInfoMoney {
    display: flex;
    flex-direction: row;

    h4 {
        font-size: 18px;
        margin-top: auto;
    }

    p {
        font-size: 12px;
        margin: auto 5px 0 0 !important;
    }
}

.DayEdit {
    @include YearDayMonth-edit-create;
}

.DayEditTitle {
    @include YearDayMonth-edit-create--title;
}

.DayEditButton {
    @include YearMonthDay-edit--button;
}

.DayEditButtonConfirm {
    @include YearMonthDay-edit--buttonConfirm
}

.DayEditTrigger {
    @include YearMonthDay-edit--trigger;
}

.DayEditInput {
    @include YearDayMonth-edit-create--input;
}

.DayCreate {
    @include YearDayMonth-edit-create;
}

.DayCreateButton {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    padding: 30px 0;
    background: none;
    border: none;
    cursor: pointer;
    width: auto;

    a {
        margin: 30px auto;
        font-size: 30px !important;
        border: none;
        background: none;
        cursor: pointer;
        text-decoration: none;
    }
}

.DayCreateTitle {
    @include YearDayMonth-edit-create--title;
}

.DayCreateInput {
    @include YearDayMonth-edit-create--input;
}

.dayCreateButtons {
    @include YearMonthDay-create-edit-Buttons
}

.dayCreateButtonsNotVisible {
    @include YearMonthDay-create-edit-ButtonsNotVisible
}

.dayCreateConfirmation {
    @include YearMonthDay-craete-edit-Confirmation
}

.dayCreateConfirmationVisible {
    @include YearMonthDay-create-edit-ConfirmationVisible
}

.dayEditButtons {
    @include YearMonthDay-create-edit-Buttons
}

.dayEditButtonsNotVisible {
    @include YearMonthDay-create-edit-ButtonsNotVisible
}

.dayEditConfirmation {
    @include YearMonthDay-craete-edit-Confirmation
}

.dayEditConfirmationVisible {
    @include YearMonthDay-create-edit-ConfirmationVisible
}

.dayDeleteConfirmation {
    @include YearMonthDay-delete-Confirmation;
}

.dayDeleteConfirmationVisible {
    @include YearMonthDay-delete-ConfirmationVisible
}

.invalidFormat {
    p {
        color: rgb(255, 58, 58) !important;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 1px;
        margin: 5px 0;
    }

}