@import '../../../../../../Routing.module.scss';


.Year {
    border-bottom: 1px solid rgba(135, 135, 135, 0.200);
    width: 80%;
    margin: 0 auto 10px auto;
    display: flex;
    flex-direction: row;
    padding: 0px 0 0px 0;

    a {
        text-decoration: none;
        width: 100%;
        color: inherit;
    }
}

.yearNotVisible {
    display: none !important;
}

.YearInfo {
    @include YearDayMonth-info;
}

.YearEdit {
    @include YearDayMonth-edit-create;
}

.YearEditTitle {
    @include YearDayMonth-edit-create--title;
}

.YearEditButton {
    @include YearMonthDay-edit--button;
}

.YearEditInput {
    @include YearDayMonth-edit-create--input;
}

.YearCreate {
    @include YearDayMonth-edit-create;
}

.YearCreateTitle {
    @include YearDayMonth-edit-create--title;
}

.YearCreateInput {
    @include YearDayMonth-edit-create--input;
}

.YearCreateButton {
    display: flex;
    flex-direction: row;
    width: 100%;

    a {
        margin: 30px auto;
        font-size: 30px !important;
        border: none;
        background: none;
        cursor: pointer;
        text-decoration: none;
    }
}

.yearCreateButtons {
    @include YearMonthDay-create-edit-Buttons
}

.yearCreateButtonsNotVisible {
    @include YearMonthDay-create-edit-ButtonsNotVisible
}

.yearCreateConfirmation {
    @include YearMonthDay-craete-edit-Confirmation
}

.yearCreateConfirmationVisible {
    @include YearMonthDay-create-edit-ConfirmationVisible
}

.yearEditButtons {
    @include YearMonthDay-create-edit-Buttons
}

.yearEditButtonsNotVisible {
    @include YearMonthDay-create-edit-ButtonsNotVisible
}

.yearEditConfirmation {
    @include YearMonthDay-craete-edit-Confirmation
}

.yearEditConfirmationVisible {
    @include YearMonthDay-create-edit-ConfirmationVisible
}

.yearDeleteConfirmation {
    @include YearMonthDay-delete-Confirmation;
}

.yearDeleteConfirmationVisible {
    @include YearMonthDay-delete-ConfirmationVisible
}