@import '../../../Routing.module.scss';

.Landing {
    @include flex-column-center;
    text-align: center;
    width: 810px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

.LandingHeader {}